language: go

go:
  - 1.9
  - tip

matrix:
  allow_failures:
    - go: tip
  fast_finish: true

notifications:
  email: false
#  irc: "irc.freenode.org#victi.ms"
#  skip_join: false

# Required since the clone will not always be tested from inside the victims namespace
before_script:
  - mkdir -p $HOME/gopath/src/github.com/victims/victims-bot/
  - rsync -az ${TRAVIS_BUILD_DIR}/ $HOME/gopath/src/github.com/victims/victims-bot/

script:
  - make lint
  - make deps
  - make victims-bot
  - make static-victims-bot
  - make test
